[Unit]
Description=Fcitx5 Input Method Framework
Documentation=man:fcitx5(1)
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=dbus
BusName=org.fcitx.Fcitx5
ExecStart=/usr/bin/fcitx5
Restart=on-failure
RestartSec=3
Slice=session.slice

[Install]
WantedBy=graphical-session.target
