[Unit]
Description=xremap
After=graphical-session.target

[Service]
Type=simple
KillMode=process
ExecStart=/usr/bin/xremap %h/.config/xremap/config.yml
Restart=on-failure
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=/run/user/%U

[Install]
WantedBy=hyprland-session.target
