[Unit]
Description=xremap

[Service]
ExecStart=/usr/bin/xremap --watch=config %h/.config/xremap/config.yml
Restart=on-failure
Slice=session.slice

[Install]
WantedBy=default.target
