// To see help: rofi --help | nvim -R -
// To see default configuration: rofi -no-config -dump-config | nvim -R -
// To see current keybindings: rofi -list-keybindings | nvim -R -

configuration {
    modes: "window,drun,run";
    font: "Cica, Symbols Nerd Font Mono, Font Awesome 6 Free, sans-serif 16";
    location: 0;
    fixed-num-lines: false;
    show-icons: true;
    terminal: "ghostty";
}
@theme "Arc-Dark"
