*.log
application/*
.config/powerline/*
.config/gtk-3.0/bookmarks
.config/fish/fish
.config/fish/completions/*
.config/fish/functions/*
.config/fish/fishd*
.config/fish/fish_variables
.config/assets/*
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonad-x86_64-linux
.vim/dict/*
.vim/swap/*
.vim/tags
.vim/trans_history
.vim/.trans_raw_history
.vim/trans
.config/nvim/trans_history
.config/nvim/.trans_raw_history
GPATH
GRTAGS
GTAGS
tags
.netrwhist
