*.log
application/*
.config/powerline/*
.config/gtk-3.0/bookmarks
.config/fish/fish
.config/fish/functions/*
.config/fish/fishd*
.config/fish/fish_variables
.config/fish/conf.local.d/*
!.config/fish/conf.local.d/.gitkeep
.config/mac/karabiner/*
!.config/mac/karabiner/karabiner.json
.config/ghostty/themes/*
.vim/dict/*
.vim/swap/*
.vim/tags
GPATH
GRTAGS
GTAGS
tags
.netrwhist
.vim/autoload/plug.vim
.vim/plugged/*
.vim/plugin/*
.config/karabiner/automatic_backups/*
