*.log
application/*
.config/powerline/*
.config/gtk-3.0/bookmarks
.config/fish/fish
.config/fish/functions/*
.config/fish/fishd*
.config/fish/fish_variables
.config/zsh/.zsh_sessions/*
.config/zsh/.zcompdump*
.config/zsh/.zsh_history
.config/zsh/.secret.zsh
.config/zsh/local/*
.config/fish/conf.local.d/*
!.config/fish/conf.local.d/.gitkeep
.config/mac/karabiner/*
!.config/mac/karabiner/karabiner.json
.config/ghostty/themes/*
.config/assets/*
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonad-x86_64-linux
.vim/dict/*
.vim/swap/*
.vim/tags
.vim/trans_history
.vim/.trans_raw_history
.vim/trans
.vim/plugin/packer_compiled.lua
.config/nvim/trans_history
.config/nvim/.trans_raw_history
GPATH
GRTAGS
GTAGS
tags
.netrwhist
.vim/autoload/plug.vim
.vim/plugged/*
.vim/plugin/*
.config/karabiner/automatic_backups/*
